services:
  web:
    build:
      context: .
      dockerfile: docker/web/Dockerfile
    container_name: flash_cards_web
    ports:
      - "9000:9000"
    volumes:
      - ./web:/var/www/html
    depends_on:
      - db

  db:
    build:
      context: .
      dockerfile: docker/database/Dockerfile
    container_name: flash_cards_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: flash_cards_db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "13306:3306"
    volumes:
      - db_data:/var/lib/mysql

  nginx:
    build:
      context: .
      dockerfile: docker/nginx/Dockerfile
    container_name: flash_cards_nginx
    ports:
      - "8000:80"
    volumes:
      - ./web:/ver/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web


volumes:
  db_data:
